
/*
Changed background image to reflect dark mode changes if
background video is not present, changed repeating
background images for elements to a darker wood, 
changed the radial gradients for the buttons from 
a radial green to radial dark blue to fit dark theme.

See also the notes in the scripts file for changes made.
*/
.background-video {
	    background-image: url('../images/altdarkbackground.png');
}

.sidebar ul li {
    background-image: url("../images/darkrepeat.jpg");
}

#themebtn {
    background-image: radial-gradient(rgb(3, 30, 61), rgb(29, 114, 163));
}

#themebtn:hover, #themebtn:active {
    background-image: radial-gradient(rgb(6, 54, 110), rgb(41, 154, 219));
}

.header h1 {
    background-image: url("../images/darkrepeat.jpg");
}

.captimage {
    background-image: url("../images/darkrepeat.jpg");
}

.incontent {
    background-image: url("../images/darkrepeat.jpg");
}

.btn {
    background-image: radial-gradient(rgb(3, 30, 61), rgb(29, 114, 163));
}

.btn:hover, .btn:active {
    background-image: radial-gradient(rgb(6, 54, 110), rgb(41, 154, 219));
}

.horizitems2 {
    background-image: url("../images/repeat.jpg");
}

.footer-content {
    background-image: url("../images/darkrepeat.jpg");
}

@media (max-width: 768px) {
    .sidebar ul {
        background-image: url("../images/darkrepeat.jpg");
    }
}
