/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-video video {
    min-width: 100%;
    min-height: 100%;
    width: 1280px;
    height: 720px;
    position: absolute;
    object-fit: cover;
}

.container {
    display: grid;
    grid-template-areas: 
        "sidebar head pad"
        "sidebar main pad"
        "footer footer footer";
    grid-template-columns: 120px 1fr 120px;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    grid-area: sidebar;
    overflow: hidden;
    justify-self: left;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    /*background: rgb(57, 134, 57);*/
    /*background-image: url("../images/background.jpg");*/
    background-image: url("../images/repeat.jpg");
    background-repeat: repeat;
    box-shadow: inset 0 0 10px #312201;
    overflow: hidden;
    white-space: nowrap;
    transition: min-width 0.3s, max-width 0.3s; /* Added transition for max-width */
    max-width: 40px; /* Initial max-width for collapsed state */
    min-width: 40px;
    display: flex;
    align-items: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background 0.3s, max-width 0.3s; /* Added transition for max-width */
}

.sidebar ul li a i {
    margin-right: 10px;
    min-width: 28px;
}

.sidebar ul li a span {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
}

.sidebar:hover ul li a span {
    opacity: 1;
}

.sidebar ul li:hover {
    min-width: 120px; /* Expanded max-width on hover */
    max-width: 120px;
}

.header {
    grid-area: head;
    height: 90%; 
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.header h1 {
    background-image: url("../images/repeat.jpg");
    background-repeat: repeat;
    box-shadow: inset 0 0 10px #312201;
    padding: 10px;
    margin-bottom: 20px;
}

.captimage {
    display: flex;
    flex-direction: column;
    background-image: url("../images/repeat.jpg");
    background-repeat: repeat;
    box-shadow: inset 0 0 10px #312201;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
}

main {
    grid-area: main;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    overflow-y: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.7s;
    display: none;
}

content.show {
    display: flex;
    align-items: center;
    flex-direction: column;
}

content.hide {
    opacity: 0;
    display: none;
}

.content.active {
    opacity: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.fade-out {
    animation: fadeOut 0.7s forwards;
}

.fade-in {
    animation: fadeIn 0.7s forwards;
}

.incontent {
    display: flex;
    flex-direction: column;
    background-image: url("../images/repeat.jpg");
    background-repeat: repeat;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px #312201;
    width: 100%;
    align-items: center;
    text-align: center;
}

.btndiv {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.btn {
    background-color: grey;
    color: black;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    text-decoration: none; /* Ensure links look like buttons */
}

.btn:hover, .btn:active {
    background-color: lightgrey;
}

.padding {
    grid-area: pad;
    background: transparent;
}

footer {
    grid-area: footer;
    width: 100%;
    z-index: 100;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    background-color: rgb(57, 134, 57);
    box-sizing: border-box;
    box-shadow: inset 0 0 10px #312201;
    color: white;
    text-decoration: none;
    /*background-image: url("../images/background.jpg");*/
    background-image: url("../images/repeat.jpg");
    background-repeat: repeat;
}

.footer-content a {
    text-decoration: none;
    color: white;
}