/*
Fixed footer height to look more pleasing
Not CSS related, but changed the "Guide" section to look
and feel a bit better in the HTML, set up the theme
toggle button to move to the footer upon media query hit.
*/

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
/* 
Background video set up to be stretched
across the screen and given a z-index of 
-1 to ensure it does not go above any of
the content
*/
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url('../images/altbackground.png');
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-video video {
    min-width: 100%;
    min-height: 100%;
    width: 1280px;
    height: 720px;
    position: absolute;
    object-fit: cover;
}
/*
Set up container to display in a
grid, with the sidebar encompassing
the left side, padding for visual
centering on the right side, and the main
and header content in the center. The
footer spans the entire bottom.
*/
.container {
    display: grid;
    grid-template-areas: 
        "sidebar head theme"
        "sidebar main pad"
        "footer footer footer";
    grid-template-columns: 120px 1fr 120px;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100vw;
}
/*
Sidebar stays on the top-left of the
screen until the media query takes effect.
Additionally, implemented fontawesome icons
for the sidebar that expands into words with an
animation when hovered.
*/
.sidebar {
    grid-area: sidebar;
    overflow-y: auto;
    justify-self: left;
    position: fixed;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    background-image: url("../images/repeat.jpg");
    background-repeat: repeat;
    box-shadow: inset 0 0 10px #312201;
    overflow-x: hidden;
    white-space: nowrap;
    transition: min-width 0.3s, max-width 0.3s;
    max-width: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
}

.sidebar ul li a {
    color: white;
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    padding: 10px;
    transition: background 0.3s, max-width 0.3s;
}

.sidebar ul li a i {
    margin-right: 10px;
    min-width: 28px;
}

.sidebar ul li a span {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
}

.sidebar:hover ul li a span {
    opacity: 1;
}

.sidebar ul li:hover {
    min-width: 120px;
    max-width: 120px;
}

/*
created a button to toggle the theme
*/

.padded-cont {
    grid-area: theme;
}

.padded-cont #themebtn {
    display: inline-block;
}

#themebtn {
    background-image: radial-gradient(rgb(0, 95, 0), rgb(78, 175, 78));
    color: black;
    padding: 14px 5px;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
    color: white;
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
    box-shadow: 0 0 10px #312201;
}

#themebtn:hover, #themebtn:active {
    background-image: radial-gradient(rgb(1, 148, 1), rgb(98, 189, 98));
}

/* 
Header itself isn't fancy, just the
title of each section with a repeating
background image, while also having a
captioned or uncaptioned image based
on my preference. Image is dynamically 
resized.
*/
.header {
    grid-area: head; 
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: white;
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
    padding: 10px;
    margin-bottom: 20px;
}

.header h1 {
    background-image: url("../images/repeat.jpg");
    background-repeat: repeat;
    box-shadow: inset 0 0 10px #312201;
    padding: 10px;
    margin-bottom: 20px;
}

.captimage {
    display: flex;
    flex-direction: column;
    background-image: url("../images/repeat.jpg");
    background-repeat: repeat;
    box-shadow: inset 0 0 10px #312201;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.captimage img{
    width: 100%;
    height: auto;
    max-width: 75vw;
}
/*
Main is just an encapsulation that is
set up with flexbox and dynamically 
increases or decreases to fit content.
*/
main {
    display: flex;
    flex-direction: column;
    align-self: center;
    grid-area: main;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    width: 80%;
    justify-self: center;
}
/*spooky animation keyframes*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/*
content has no display or opacity
until active. Opacity is needed for fade
in and out.
*/
.content {
    opacity: 0;
    display: none;
}

.content.active {
    opacity: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}
/*spooky fade in and out times*/
.fade-out {
    animation: fadeOut 0.8s forwards;
}

.fade-in {
    animation: fadeIn 0.8s forwards;
}
/*
Couldn't come up with a creative name
for the inside content, so chose incontent.
Used same background image repeat as with header.
Used text shadow to contrast the background.
*/
.incontent {
    display: flex;
    flex-direction: column;
    background-image: url("../images/repeat.jpg");
    background-repeat: repeat;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px #312201;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin: 20px auto;
    color: #fff;
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
}
/*bad list dots removed*/
.incontent ul {
    list-style-type: none;
    width: 100%;
}
/*WHY HYPERLINK NO INHERIT?*/
.incontent p a {
    color: #fff;
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
}
/*bolded some text for endings*/
.incontent .ended {
    font-weight: bold;
}
/*
Button div to set up flexbox for row instead
of columns for buttons
*/
.btndiv {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
/*button decorations, hover and click button changes the background radial*/
.btn {
    background-image: radial-gradient(rgb(0, 95, 0), rgb(78, 175, 78));
    color: black;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    text-decoration: none;
    color: white;
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
    box-shadow: 0 0 10px #312201;
}

.flexform {
    display:flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: 100%;
    box-sizing: border-box;
}

.horizitems {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    padding-bottom: 10px;
}

.horizitems2 {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid black;
    background-image: url("../images/darkrepeat.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-clip: padding-box;
}

.vertval {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.vertval input, 
.vertval label {
    display:block;
    max-width: 100%;
}

.usrinput {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.9); /* Ensure input fields have a background */
}

.state {
    width: 4ch;
    align-self: center;
}

.zip {
    max-width: 11ch;
    min-width: 11ch;
    align-self: center;
}

.errorMsg {
    color: red;
}

input.was-validated:valid {
    color: green;
    border: 1px solid green;
}

input.was-validated:invalid {
    color: red;
    border: 1px solid red;
}
  
input.was-validated:invalid ~ div {
    display: block;
}

input:valid ~ div {
    display: none;
}
  
input:invalid ~ div {
    display: none;
}

.btn:hover, .btn:active {
    background-image: radial-gradient(rgb(1, 148, 1), rgb(98, 189, 98));
}
/*just stay there and be pretty blank space*/
.padding {
    grid-area: pad;
    background: transparent;
}
/*
Footer placed at the very bottom, stretching
across the entire width of the page, background
repeating image, and text shawdow for contrast
*/
footer {
    grid-area: footer;
    width: 100%;
    margin-top: auto;
}

.footer-content {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px #312201;
    color: white;
    text-decoration: none;
    background-image: url("../images/repeat.jpg");
    background-repeat: repeat;
    max-width: 100%;
    width: 100%;
}

.footer-content a {
    text-decoration: none;
    color: white;
    text-shadow:
        1px 1px 0 #000,
        -1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000;
}
/*
Evil media query. I changed from
grid layout to flex layout as it is
in only 1 direction
*/
@media (max-width: 1036px) {
    .horizitems {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: -2
    }
    /*
    Sidebar is now top bar... with all the
    associated pains of it.
    */
    .sidebar {
        height: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 40px;
        align-self: center;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
        margin-bottom: auto;
    }

    .sidebar ul {
        box-shadow: inset 0 0 10px #312201;
        background-image: url("../images/repeat.jpg");
        background-repeat: repeat;
        display: flex;
        justify-content: space-around;
        align-items: center;
        justify-self: center;
        align-self: center;
        width: 80%;
    }
    /*
    Looks better when the items don't have background image
    and shadow along the top.
    */
    .sidebar ul li {
        box-shadow: none;
        background-image: none;
    }
    /*needed more breathing room to accomodate the nav bar*/
    .header {
        margin-top: 40px;
        padding: 0px;
        box-sizing: border-box;
        text-align: center;
    }

    .padded-cont #themebtn {
        display: none;
    }

    .footer-content #themebtn {
        display: inline-block;
    }

    main {
        margin-top: 0px;
        padding: 0px;
        box-sizing: border-box;
        color: white;
    }
    /*display buttons in a column now for the smaller screen*/
    .btndiv {
        flex-direction: column;
    }
}
